[submodule "net-M--vork"]
    path = net-M--vork
    url = https://github.com/MichaelSodeke/net-M--vork.git
[submodule "repo-name-2"]
    path = repo-name-2
    url = https://github.com/<user>/<repo-name-2>.git
[submodule "repo-name-3"]
    path = repo-name-3
    url = https://github.com/<user>/<repo-name-3>.git
